{% extends 'base.html' %}

    {% block title %}geoffboss.com{% endblock %}

{% block content %}
    <h3>Python/Django Developer. Looking for opportunities to affect positive global change through programming.</h3>

    <div class="row">
        <div class="col-sm-4">
            <h4>Cinematch</h4>
            <p>Cinematch is a neat project.</p>
        </div>
        <div class="col-sm-4">
            <h4>hi there</h4>
        </div>
         <div class="col-sm-4">
            <h4>sup there</h4>
        </div>
    </div>


{% endblock %}